.set-container {
    padding: 30px 530px 200px 200px !important;
    .header-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .set-name {
            font-size: 30px;
            font-weight: 600;
        }
        .text-1 {
            font-weight: 500;
        }
        .b {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
    .footer-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .info-text {
            display: flex;
            gap: 10px;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .name-text {
                font-size: 20px;
            }
            button {
                border: 2px solid #d2d2d2;
                margin-left: auto;
            }
        }
        .title-text-cards {
            font-size: 20px;
            font-weight: 500;
        }
        .list-card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            // button {
            //     margin-left: auto;
            // }
            .custom-card {
                display: flex;
                flex-direction: row;
            }
        }
        .btn-update {
            display: flex;
            justify-content: center;
            button {
                width: 30%;
            }
        }
    }
}
