.detail-class-main {
    padding: 40px 300px 20px 40px;

    .detail-class-header {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 10px;

        .action-class {
            display: flex;
            gap: 10px;
            margin-left: auto;
            button {
                border-radius: 30px;
                border-color: rgb(214, 212, 212);
                margin-left: auto;
            }
        }
    }
    .class-name {
        padding-bottom: 20px;
        .class-name-text {
            font-size: 25px;
            font-weight: 700;
        }
    }
    .list-folder-class {
        display: flex;
        gap: 15px;
        .folder-content-class {
            padding: 10px 20px;
            .folder-header-text-class {
            }
            .folder-body-content-class {
            }
            .folder-footer-content-class {
                padding-top: 40px;
                .img-by-user-create {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}
